@charset "UTF-O8";

 /* @media */

 @media screen and (max-width: 1920px) {

  .banner {
    width: 91.3vw;
    height: 200px;
    margin-left: 60px;
  }

  .mTrends {
    top: 4rem;
    width: 350px;
    left: 130px;
   }
 
   .arrow {
     left: 15rem;
     margin-left: 25%;
   }
   
   .grid {
     top: 1rem;
     left: 4rem;
     width: 160px;
   }
   
   .mulher {
     left: 12rem;
     margin-left: 30%;
     width: 250px;
     top: 3.5rem;
   }
   
   .triangle {
     position: absolute;
     top: 2rem; 
     left: 10rem;
     margin-left: 82%; 
   }
   
   .dots{
     position: absolute;
     top: 10rem; 
     left: 10rem;
     margin-left: 25%;
     width: 60px;
   }
   
   .zigzag {
     position: absolute;
     top: 12rem; 
     left: 8rem;
     margin-left: 80%; 
   
   }
   
   .txthead {
     margin: 0;
     padding: 0;
     width: 13rem; 
     height: 4rem; 
     position: absolute; 
     top: 3.6rem; 
     left: 80%; 
     text-align: right;
     color: var(--color3);
     font-size: 1.5rem;
   }
   
   
   /* body */
   
   body {
     background-color:var(--color4);
     width: auto;
     height: 1800px;
   }
   
  
   .principal {
     width: 92.2vw;
     height: 90rem;
     margin-left:  60px;
     margin-top: 30px;
     background-color: var(--color3);  
   }
   
 
   .principal > .sec1 > p {
     margin: 0;
     padding: 0;
     width: 90%;
     font-size: 1.5rem;
   }
   
   .principal > .sec1 > h1 {
     margin: 0;
     padding: 0;
   }
   
    .principal > .sec1 > h6 {
     margin: 10px 0 0;
     padding: 0;
     color: var(--color5);
   }
  
   .sec1 {
     top: 52rem;
     width: 60%;
     font-size: 1.4rem;
     left: 20%;
   }
     
   .sec2 {
    
     top: 93rem;
     margin-left: 8%;
     left:10%;
     width: 30%;
     font-size: 1.7rem;
   }
   
   .sec3 {
     position: absolute;
     top: 93rem;
     margin-left: 45%;
     left: 10%;
     width: 30%;
     font-size: 1.7rem;
   }
   
   .principal > .sec2 > h2 {
     font-size: 1.7rem;
     margin: 0;
     padding: 0;
   } 
   
   .principal > .sec2 > h6 {
     margin: 10px 0px 0px;
     padding: 0;
     color: var(--color5);
   } 
   
   .principal > .sec3 > h2 {
     font-size: 1.7rem;
     margin: 0;
     padding: 0;
   } 
   
   .principal > .sec3 > h6 {
     margin: 10px 0px 0px;
     padding: 0;
     color: var(--color5);
   }

   .principal > .line1 , .line2, .line3 {
    width: 250px;
   }

   .carousel1 {
     width: 70%;
     top: 18rem;
     left: 50%;

   }
   
   .carousel2 {
     position: relative;
     width:30%;
     height: 400px;
     max-height: 400px;
     top: 19rem;
     margin-left: 15%;

    
   }
   
   .carousel2 img {
    position: absolute;
    object-fit: cover;
    opacity: 0;
   }

   .carousel2 img.selected {
    opacity: 1;
   }

   .carousel3 {
     width: 27.5%;
     height: 400px;
     max-height: 400px;
     position: absolute;
     top: 79rem;
     margin-left: 50%;
     left: 19%;
     transform: translate(-50%, -50%);
   }
   
   /* footer */
   
   .underbar{
   position: absolute;
   top: 106rem;
   height: 200px;
   width: 92.3vw;
   }
   
   .mandarimLogo{
   position: absolute;
   top: 110rem;
   left: 40%;
   z-index: 1;
   width: 500px;
   }
   
   
   footer {
    width: 92.3vw;
     height: 300px;
     margin-left: 60px;
   }
   
   .rodape{
     width: 90vw;
     height: 100px;
   }
   
   .copR {
     top: 117rem;
     left: 25%;
     font-size: 2rem;
  }
 
}

 @media screen and (max-width: 1200px) {

  .banner {
    height: 120px;
    margin-left: 20px;
    width: 90.5vw;
  }
  
  .mTrends {
   top: 3rem;
   width: 250px;
   left: 4rem;
  }

  .arrow {
    top: 2.8rem;
    left: 10rem;
    margin-left: 25%;
  }
  
  .grid {
    position: absolute;
    top: 1rem;
    width: 100px;
    left: 1.3rem;
  }
  
  .mulher {
    left: 12rem;
    margin-left: 30%;
    width: 150px;
  }
  
  .triangle {
    position: absolute;
    top: 2rem; 
    left: 9.5rem;
    margin-left: 70%; 
  }
  
  .dots{
    position: absolute;
    top: 7.5rem; 
    left: 10rem;
    margin-left: 25%;
    width: 30px;
  }
  
  .zigzag {
    position: absolute;
    top: 8rem; 
    left: 5rem;
    margin-left: 70%; 
  
  }
  
  .txthead {
    margin: 0;
    padding: 0;
    width: 10rem; 
    height: 4rem; 
    position: absolute; 
    top: 3.3rem; 
    left: 70%; 
    text-align: right;
    color: var(--color3);
    font-size: 1rem;
  }
  
  
  /* body */
  
  body {
    background-color:var(--color4);
    width: auto;
    height: auto;
  }
  
 
  .principal {
    width: 92.2vw;
    height: 45rem;
    margin-left:  20px;
    margin-top: -20px;
    background-color: var(--color3);
    font-size: 1rem;  
  }
  

  .principal > .sec1 > p {
    margin: 0;
    padding: 0;
    width: 30rem;
    font-size: 1rem;  
  }
  
  .principal > .sec1 > h1 {
    margin: 0;
    padding: 0;  
  }
  
   .principal > .sec1 > h6 {
    margin: 10px 0 0;
    padding: 0;
    color: var(--color5);
  }
 
  .sec1 {
    position: absolute;
    top: 30rem;
    width: 600px;
    font-size: 0.9rem;
    left: 50%;
    transform: translate(-50%, -50%);  
  }
    
  .sec2 {
    position: absolute;
    top: 49rem;
    left: 35%;
    transform: translate(-50%, -50%); 
    width: 18rem;
    font-size: 1rem;  
    margin: 0;
  }
  
  .sec3 {
    position: absolute;
    top: 49rem;
    left: 65%;
    transform: translate(-50%, -50%); 
    width: 18rem;
    margin: 0;
    font-size: 1rem;
  }
  
  .principal > .sec2 > h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  } 
  
  .principal > .sec2 > h6 {
    margin: 10px 0px 0px;
    padding: 0;
    color: var(--color5);
  } 
  
  .principal > .sec3 > h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  } 
  
  .principal > .sec3 > h6 {
    margin: 10px 0px 0px;
    padding: 0;
    color: var(--color5);
  }
    
  .carousel1 {
    position: absolute;
    width: 60%;
    height: 250px;
    top: 18.5rem;
    left: 50%;
    transform: translate(-50%, -50%);  
  }
  

  .carousel2 {
    position: absolute;
    width: 16rem;
    height: 200px;
    top: 40rem;
    left: 35%;
    transform: translate(-50%, -50%); 
    margin: 0;
  }


  .carousel3 {
    width: 16.5rem;
    height: 200px;
    position: absolute;
    top: 40rem;
    left: 65%;
    transform: translate(-50%, -50%); 
    margin: 0;
  }

  
  /* footer */
  
  .underbar{
  position: absolute;
  width: 92vw;
  top: 55rem;
  left: 1.9rem;
  height: 100px;
  margin-left: 0;
  }
  
  .mandarimLogo{
  position: absolute;
  top: 56.5rem;
  left: 35%;
  width: 300px;
  
  }
  
  
  footer {
    width: 90vw;
    height: 100px;
  }
  
  .rodape{
    width: 90vw;
    height: 100px;
  }
  
  .copR {
    position: absolute;
    top: 63rem;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    padding-bottom: 20px;
    font-size: 1rem;
  
  }
   button {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
   }

 }

 @media screen and (max-width: 800px) {


  .banner {
    width: 92%;
    height: 100px;
    margin: 30px 9px ;
  }
  
  .mTrends {
    position: absolute;
    top: 3.5rem;
    left: 2.5rem;
    width: 150px;
  }
  
  .arrow, .mulher, .triangle, .dots,  .zigzag{
    display: none;
  }
  .grid {
    width: 70px;
    position: absolute;
    top: 2rem;
    left: 1.3rem;
  }
  
  .txthead {
    font-size: 12px;
    width: 100px;
    position: absolute;
    top: 2.5rem;
    left: 75%;

  }
  
  /* body */
  
  body {
    width: auto;
    height: auto;

  }
  
  .principal {
    width: 92.2vw;
    height: 60rem;
    margin-left:  10px;
    margin-top: -20px;
    background-color: var(--color3);  
  }
  
  .principal > .sec1 > p {
    font-size: 0.8rem;
    width: 450px;
  }

  .principal > .sec1 > h1 {
    font-size: 1rem;
  }

  .sec1 {
    margin-top: 4%;
    width: 400px;  
    left: 14%; 
    top: 23rem;
    transform: none;
  }
    
  .sec2 {
    width: 300px;
    top: 44rem;
    left: 28%;
    transform: none;
    
    
  }
  
  .principal > .sec2 > h2 {
    font-size: 0.8rem;
    width: 300px;
  } 
  
  .sec3 {
    width: 300px;
    top: 61rem;
    left: 28%; 
    transform: none;
  }
  
  .principal > .sec3 > h2 {
    font-size: 0.8rem;
    width: 300px;
  } 
    
  .carousel1 {
    position: absolute;
    left: 51%;
    top: 16.5rem;
    width: 65%;
  }
  
  .carousel2 {
   position: absolute;
   top: 37rem;
   left: 50%;
   width: 16rem;
  }
  
  .carousel3 {
    position: absolute;
    top: 54rem;
    left: 50%;
    width: 16rem;
  }
  
  /* footer */
  
  .underbar{
    width: 92.3vw;
    margin: 0;
    left: 1rem;
    height: 90px;
    position: absolute;
    top: 67rem;
    
  }
  
  .mandarimLogo{
    position: absolute;
    left: 30%;
 
    top: 68.5rem;
  
  }
  
  
  .copR {
  position: absolute;
  top: 72rem;
  left: 15%;
  text-align: center;
  width: 400px;
  font-size: 0.8rem;
  transform: none;
  
  }

}

@media screen and (max-width: 520px) {


  .txthead {
    left: 69%;
  }
  
  /* body */
   
  .sec1 {
    margin-top: 4%;
    width: 350px;  
    left: 10%; 
    top: 24rem;
  }
  
  .sec2 {
    width: 300px;
    top: 45rem;
    left: 14%;
    
  }
  
  .sec3 {
    width: 300px;
    top: 62.5rem;
    left: 14%; 
  }
  
  .principal > .sec1 > p {
    width: 85%
  }

  .principal > .sec1 > h1 {
    font-size: 1.1rem;
    width: 85%;
  }

  .principal > .sec2 > h2 {
    font-size: 0.9rem;
    width: 90%;
  } 
  
  .principal > .sec3 > h2 {
    font-size: 0.9rem;
    width: 90%;
  } 
    
  .carousel1 {
    left: 51%;
    top: 17rem;
    width: 85%;
  }
  
  .carousel2 {
   top: 38.5rem;
   left: 50%;
   width: 16rem;
  }
  
  .carousel3 {
    top: 56rem;
    left: 50%;
  }
  
  /* footer */
  
  .underbar{
    width: 92.5%;
    height: 80px;
   left: 1.09rem;
  }
  
  .mandarimLogo{
    left: 25%;
    top: 68rem;
    width: 200px;
  
  }

  .copR {
  width: 300px;
  left: 10%;

  

}
}
